name: mix

on:
  pull_request:
  push:
    branches: [master]
  schedule:
    - cron: "21 9 * * *"

jobs:
  test:
    runs-on: ubuntu-latest
    name: "test (duckdb=${{ matrix.duckdb }}, elixir=${{ matrix.elixir }}, otp=${{ matrix.otp }}${{ matrix.dialyzer && ' +dialyzer' || '' }}${{ matrix.lint && ' +lint' || '' }})"

    env:
      MIX_ENV: test

    strategy:
      matrix:
        duckdb: [1.4.2]
        include:
          - elixir: 1.17
            otp: 26
          - elixir: 1.19
            otp: 28
            dialyzer: true
            lint: true

    steps:
      - uses: actions/checkout@v6

      - id: beam
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      - name: Restore deps cache
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: test-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-${{ github.head_ref || github.ref }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            test-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-${{ github.head_ref || github.ref }}-
            test-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-refs/heads/master-

      - run: |
          curl -L https://github.com/duckdb/duckdb/releases/download/v${{ matrix.duckdb }}/libduckdb-linux-amd64.zip -o libduckdb.zip
          unzip libduckdb.zip -d libduckdb

      - run: mix deps.get --only $MIX_ENV
        if: ${{ !matrix.lint }}

      - run: mix deps.get --check-locked
        if: ${{ matrix.lint }}

      - run: mix deps.unlock --check-unused
        if: ${{ matrix.lint }}

      - run: mix compile --warnings-as-errors
        env:
          DUXDB_CFLAGS: -I./libduckdb/
          DUXDB_LDFLAGS: -L./libduckdb -Wl,-rpath=./libduckdb

      - run: mix format --check-formatted
        if: ${{ matrix.lint }}

      - run: mix test

      - name: Restore PLTs cache
        if: ${{ matrix.dialyzer }}
        uses: actions/cache@v4
        with:
          path: plts
          key: plts-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-${{ github.head_ref || github.ref }}
          restore-keys: |
            plts-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-refs/heads/master

      - run: mix dialyzer --format github
        if: ${{ matrix.dialyzer }}
